head
  link(rel='stylesheet', href='/css/notify.css', data-inline)
img(src='logo.png')
h1 A game near you is looking for players!
p Name: #{name}
p Date: #{date}
p Location: #{location}
p Details and join here:
  a(href='http://#{url}/game/join/#{id}')
    button Join
