head
  link(rel='stylesheet', href='email-templates.css', data-inline)
  link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", data-inline)
.container
  //img(src='logo.png')
  h1 Good News, Hockey Aficionado!
  p #{host} just posted a new hockey game and gave us all a reason to get off our butts and out to the rink!
  p But you better hurry and click the join button below to reserve your spot before the game is full.
  p You don’t want to be the only one sitting at home while your friends are playing hockey and having fun without you, do you??
  h2 Game Details: 
  p Date: #{date}
  p Location: #{location}
  a(href=`https://${url}/game/join/${id}`)
    button.button.blue Join
