head
  //link(rel='stylesheet', href='/css/notify.css', data-inline)
//img(src='logo.png')
h1 Welcome to Hockey Compass, #{name}
//p Here is your confirmation link:
//a(href=`${url}/join/${confirmationCode}`) #{url}/join/#{confirmationCode}

p It's time to Navigate to Hockey!

a(href=`${url}/games`) View Games
