head
  link(rel='stylesheet', href='email-templates.css', data-inline)
  link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", data-inline)
.container
  .img-container(style='width:100%; text-align:center;')
    img(src='https://hockeycompass.com/logo.png' width='300px')
  h1 Welcome to Hockey Compass, #{name}
  //p Here is your confirmation link:
  //a(href=`${url}/join/${confirmationCode}`) #{url}/join/#{confirmationCode}

  p It's time to Navigate to Hockey!

  a(href=`${url}/games`) View Games
